USE [Kargo]
GO
/****** Object:  Table [dbo].[Alici]    Script Date: 14.05.2017 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[aAdi] [nvarchar](50) NOT NULL,
	[aSoyadi] [nvarchar](50) NOT NULL,
	[aTelNo] [nvarchar](50) NOT NULL,
	[aMail] [nvarchar](50) NOT NULL,
	[aTakipId] [int] NOT NULL,
 CONSTRAINT [PK_Alici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gonderici]    Script Date: 14.05.2017 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gonderici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gAdi] [nvarchar](50) NOT NULL,
	[gSoyadi] [nvarchar](50) NOT NULL,
	[gTcno] [nvarchar](50) NOT NULL,
	[gTelNo] [nvarchar](50) NOT NULL,
	[gMail] [nvarchar](50) NOT NULL,
	[gİlId] [int] NOT NULL,
	[gIlceId] [int] NOT NULL,
	[gAdres] [nvarchar](50) NOT NULL,
	[gTakipId] [int] NOT NULL,
 CONSTRAINT [PK_Gonderici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GonderiHareketi]    Script Date: 14.05.2017 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GonderiHareketi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gtarih] [nvarchar](50) NOT NULL,
	[gIslem] [nvarchar](50) NOT NULL,
	[gAciklama] [nvarchar](50) NOT NULL,
	[gilId] [int] NOT NULL,
	[gilceId] [int] NOT NULL,
	[gTakipId] [int] NOT NULL,
 CONSTRAINT [PK_GonderiHareketi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 14.05.2017 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[id] [int] NOT NULL,
	[ilce] [nvarchar](255) NULL,
	[sehir] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[iller]    Script Date: 14.05.2017 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehir] [nvarchar](255) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KargoBilgisi]    Script Date: 14.05.2017 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoBilgisi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kKilo] [nvarchar](50) NOT NULL,
	[kEn] [nvarchar](50) NOT NULL,
	[kBoy] [nvarchar](50) NOT NULL,
	[kYukseklik] [nvarchar](50) NOT NULL,
	[kilId] [int] NOT NULL,
	[kilceId] [int] NOT NULL,
	[kAdres] [nvarchar](50) NOT NULL,
	[kGonderiTipi] [nvarchar](50) NOT NULL,
	[aId] [int] NOT NULL,
	[gId] [int] NOT NULL,
	[kTakipId] [int] NOT NULL,
	[kUcreti] [nvarchar](50) NOT NULL,
	[kOdemeTipi] [nvarchar](50) NOT NULL,
	[kTahminiVaris] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KargoBilgisi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanıcı]    Script Date: 14.05.2017 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcı](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kullanıcı] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TakipNo]    Script Date: 14.05.2017 12:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TakipNo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Takip] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TakipNo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ilceler] ON 

INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[ilceler] OFF
SET IDENTITY_INSERT [dbo].[iller] ON 

INSERT [dbo].[iller] ([id], [sehir]) VALUES (1, N'ADANA')
INSERT [dbo].[iller] ([id], [sehir]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[iller] ([id], [sehir]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[iller] OFF
SET IDENTITY_INSERT [dbo].[Kullanıcı] ON 

INSERT [dbo].[Kullanıcı] ([id], [KullaniciAdi], [Sifre]) VALUES (1, N'admin', N'123456')
SET IDENTITY_INSERT [dbo].[Kullanıcı] OFF
ALTER TABLE [dbo].[Alici]  WITH CHECK ADD  CONSTRAINT [FK_Alici_TakipNo] FOREIGN KEY([aTakipId])
REFERENCES [dbo].[TakipNo] ([id])
GO
ALTER TABLE [dbo].[Alici] CHECK CONSTRAINT [FK_Alici_TakipNo]
GO
ALTER TABLE [dbo].[Gonderici]  WITH CHECK ADD  CONSTRAINT [FK_Gonderici_ilceler] FOREIGN KEY([gIlceId])
REFERENCES [dbo].[ilceler] ([id])
GO
ALTER TABLE [dbo].[Gonderici] CHECK CONSTRAINT [FK_Gonderici_ilceler]
GO
ALTER TABLE [dbo].[Gonderici]  WITH CHECK ADD  CONSTRAINT [FK_Gonderici_iller] FOREIGN KEY([gİlId])
REFERENCES [dbo].[iller] ([id])
GO
ALTER TABLE [dbo].[Gonderici] CHECK CONSTRAINT [FK_Gonderici_iller]
GO
ALTER TABLE [dbo].[Gonderici]  WITH CHECK ADD  CONSTRAINT [FK_Gonderici_TakipNo] FOREIGN KEY([gTakipId])
REFERENCES [dbo].[TakipNo] ([id])
GO
ALTER TABLE [dbo].[Gonderici] CHECK CONSTRAINT [FK_Gonderici_TakipNo]
GO
ALTER TABLE [dbo].[GonderiHareketi]  WITH CHECK ADD  CONSTRAINT [FK_GonderiHareketi_ilceler] FOREIGN KEY([gilceId])
REFERENCES [dbo].[ilceler] ([id])
GO
ALTER TABLE [dbo].[GonderiHareketi] CHECK CONSTRAINT [FK_GonderiHareketi_ilceler]
GO
ALTER TABLE [dbo].[GonderiHareketi]  WITH CHECK ADD  CONSTRAINT [FK_GonderiHareketi_iller] FOREIGN KEY([gilId])
REFERENCES [dbo].[iller] ([id])
GO
ALTER TABLE [dbo].[GonderiHareketi] CHECK CONSTRAINT [FK_GonderiHareketi_iller]
GO
ALTER TABLE [dbo].[KargoBilgisi]  WITH CHECK ADD  CONSTRAINT [FK_KargoBilgisi_Alici] FOREIGN KEY([aId])
REFERENCES [dbo].[Alici] ([id])
GO
ALTER TABLE [dbo].[KargoBilgisi] CHECK CONSTRAINT [FK_KargoBilgisi_Alici]
GO
ALTER TABLE [dbo].[KargoBilgisi]  WITH CHECK ADD  CONSTRAINT [FK_KargoBilgisi_Gonderici] FOREIGN KEY([gId])
REFERENCES [dbo].[Gonderici] ([id])
GO
ALTER TABLE [dbo].[KargoBilgisi] CHECK CONSTRAINT [FK_KargoBilgisi_Gonderici]
GO
ALTER TABLE [dbo].[KargoBilgisi]  WITH CHECK ADD  CONSTRAINT [FK_KargoBilgisi_TakipNo] FOREIGN KEY([kTakipId])
REFERENCES [dbo].[TakipNo] ([id])
GO
ALTER TABLE [dbo].[KargoBilgisi] CHECK CONSTRAINT [FK_KargoBilgisi_TakipNo]
GO
